{% extends 'base.html' %}

{% block content %}
{% if lines!=[] %}
  <p><a href="{{url_for('instructions')}}">Instructions</a></p>
  <div class="inline"><table border=1>
    <thead>
      <tr>
      {%for key in header%}
        {%if key in ['COMMENTS', 'ADDRESS']%}
              <th>{{key}}</th>
        {% endif %}
        
      {%endfor%}
      </tr>
    </thead>
    <tbody>
      {%for line in range(0, len)%}
        <tr>
          {%for key in header%}
            {%if key in ['COMMENTS', 'ADDRESS']%}
              <td>{{lines[line][key]}}</td>
            {% endif %}
          {%endfor%}
        </tr>
      {%endfor%}
    </tbody>
  </table>
  <iframe width=1000 height=1000 src="https://aed-map.abelbellows.repl.co/tmap"></iframe></div>
  {% else %}
  <h1>No Images Yet!</h1>
  {% endif %}

{% endblock %}